<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>

    <link rel="stylesheet" href=".../public/style.css">



    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-lg  bg-dark text-white">
        <div class="container-fluid">
          <a class="navbar-brand h1 text-white" href="#"><img width="50px" height="50px" src="https://cdn-icons.flaticon.com/png/512/4200/premium/4200002.png?token=exp=1657534680~hmac=489f85cfa9560bcab75f4dc67214f657"/><h3>Warehouse Management System</h3></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="/form">Storage</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  text-white" href="/inventory">Inventory</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  text-white" href="/stocks">Stocks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/orders">Orders</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/processing">Processing</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
</body>
</html>